{% extends 'igloo/panel' %}

{% block body %}
<div>
    <div class="py-4 px-6 space-y-8">
        {% include 'igloo/components/back' %}
        <p><strong class="inline-block text-2xl">Add Layer</strong></p>
    </div>
    {% for block in blocks %}
        <form class="block border-t border-solid border-gray-200 py-1 px-6" action="{{ cpUrl("igloo/tree/#{tree}/store-new-layer") }}" method="post" x-data="{...AddLayerController()}" x-on:submit="handleFormSubmit">
            {{ csrfInput() }}
            <input type="hidden" name="block[type]" value="{{ block.getType() }}">
            <input type="hidden" name="placement" value="{{ placement }}">
            <input type="hidden" name="path" value="{{ path }}">
            <button class="text-blue-500">
                <div class="inline-block mr-1">{{ block.getIcon()|raw }}</div>
                {{ block.getTypeLabel() }}
            </button>
        </form>
    {% endfor %}
</div>
{% endblock %}