{% extends 'igloo/panel' %}

{% set panelDataAttr = "data-style-panel=\"#{block.id}\"" %}

{% block body %}
<div class="space-y-4 py-4" x-data="{...StylePanel(), blockId: {{ block.id }}}" x-on:change="handleChange">
    <div class="space-y-8 px-6">
        {% include 'igloo/components/back' %}
        <p class="py-4 text-2xl flex justify-between">
            <strong class="">
                <span class="inline-block mr-1 -mb-1">{{ block.getIcon()|raw }}</span>
                Edit {{ block.getTypeLabel() }}
            </strong>
        </p>
    </div>

    {% for sectionName, controls in block.getControls().groupBy('section') %}
        {% set id = "style-" ~ random() %}
        <div>
            <input class="sr-only" type="checkbox" id="{{ id }}" data-morphdom-skip>

            {% if sectionName %}
            <label class="block border-t border-solid border-gray-200 pt-2 relative group px-6" for="{{ id }}">
                <div class="absolute left-0 transform text-gray-400 group-sibling-checked:rotate-90">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                </div>
                <strong>{{ sectionName }}</strong>
            </label>
            {% endif %}

            <div class="{{ sectionName ? 'hidden sibling-checked:block' : '' }} px-6 space-y-4">
                {% for control in controls %}
                    {{ control.getInputHtml()|raw }}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
