<div class="grid grid-cols-3">
    <div class="col-span-3 text-center"><input name="style[marginTop]" value="{{ control.getValue().marginTop }}" size="3" placeholder="0"></div>
    <div class=""><input name="style[marginLeft]" value="{{ control.getValue().marginLeft }}" size="3" placeholder="0"></div>
    
    <div class="border border-dashed border-gray-400 grid grid-cols-2">
        <div class="col-span-2 text-center"><input name="style[paddingTop]" value="{{ control.getValue().paddingTop }}" size="3" placeholder="0"></div>
        <div class=""><input name="style[paddingLeft]" value="{{ control.getValue().paddingLeft }}" size="3" placeholder="0"></div>
        <div class="text-right"><input name="style[paddingRight]" value="{{ control.getValue().paddingRight }}" size="3" placeholder="0"></div>
        <div class="col-span-2 text-center"><input name="style[paddingBottom]" value="{{ control.getValue().paddingBottom }}" size="3" placeholder="0"></div>
    </div>

    <div class=""><input name="style[marginRight]" value="{{ control.getValue().marginRight }}" size="3" placeholder="0"></div>
    <div class="col-span-3 text-center"><input name="style[marginBottom]" value="{{ control.getValue().marginBottom }}" size="3" placeholder="0"></div>
</div>