{% macro tree(blocks, level=0) %}
    <ul>
        {% for block in blocks %}
            <li draggable="true" x-data="{...LayerDragController()}" data-tree="{{ block.tree }}" data-block-id="{{ block.id }}" data-block-path="{{ block.getPath() }}" x-on:dragstart="handleDragStart" x-on:dragover="handleDragOver" x-on:drop="handleDrop">
                {% include "igloo/components/layer" with {block: block} only %}
                <div class="hidden sibling-checked:block">
                    {% for slot in block.getSlotNames() %}
                        {% if slot != 'children' %}
                            <p class="uppercase text-xs text-hairline text-gray-600 border-t border-solid border-gray-200" style="padding-left: calc(1.5rem + {{ (block.depth|default(0) + 1) * 2 }}rem)">{{ slot }}</p>
                        {% endif %}
                        {% if block.hasSlots() %}
                            <ul>
                                {% if block[slot].count() %}
                                    {{ _self.tree(block[slot], level + 1) }}
                                {% else %}
                                    <li x-data="{...LayerDragController()}" data-tree="{{ block.tree }}" data-block-is-empty-placeholder="true" data-block-path="{{ block.getPath() }}.{{ slot }}.0" x-on:dragover="handleDragOver" x-on:drop="handleDrop" class="text-gray-600 border-t border-solid border-gray-200" style="padding-left: calc(1.5rem + {{ (block.depth|default(0) + 1) * 2 }}rem)">
                                        <div class="py-2 text-xs">Empty {{ block.getTypeLabel() }}</div>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

<div data-layers class="pt-10" x-data="{...LayersController(), treeId: '{{ tree.id }}'}">
    <p class="px-6 py-4 text-2xl flex justify-between">
        <strong>Layers</strong>
        <a class="text-blue-500" href="#" x-on:click="handleAddClick">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
            </svg>
        </a>
    </p>
    {{ _self.tree(tree) }}
</div>