{% set id = 'expand' ~ random() %}
{% if block.hasSlots() %}
    <input type="checkbox" class="sr-only" id="{{ id }}">
{% endif %}
<div class="flex border-t border-solid border-gray-200 relative group" x-data="{...LayerController(), blockId: {{block.id}}, blockPath: '{{ block.getPath() }}'}" data-block-layer data-block-id="{{block.id}}" style="padding-left: calc(1.5rem + {{ block.depth|default(0) * 2 }}rem);">
    {% if block.hasSlots() %}
        <label for="{{ id }}" class="text-gray-400 hover:text-black inline-block absolute transform -translate-x-full transition duration-100 transform group-sibling-checked:rotate-90">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
            </svg>
        </label>
    {% endif %}
    <div>{{ block.getIcon()|raw }}</div>
    <div class="p-2 flex-grow truncate">
        <a class="text-blue-500 hover:underline" href="#" x-on:click="handleStylesClick">{{ block.getLabel() }}</a>
    </div>
    <!--
    <a class="text-blue-500 inline-block p-2" href="#" x-on:click="handleStylesClick">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
    </a>
    -->
    <a class="text-blue-500 inline-block p-2 mr-4" href="#" x-on:click="handleActionClick">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
        </svg>
    </a>
</div>